@import '../../app.component.less';

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    img {
        height: 250px;
        width: auto;
    }
    .pokemon-type {
        .type-color {
            flex: 1;
            border-radius: 10%;
            padding: 0px 15px 0px 15px;
            margin: 0px 5px 0px 5px;
            p {
                color: white;
                text-align: center;
            }
        }
    }
    .pokemon-div {
        padding: 0px 0px 0px 50px;
    }
}
 ::ng-deep .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    background-color: #ffd740 !important;
    border-radius: 50% 50% 0 !important;
  }
  
  ::ng-deep .mat-slider-thumb {
    transform: scale(0) !important;
  }
  
  ::ng-deep .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
  mat-slider {
    min-width: 300px;
  }
.game-description {
    display: flex;
    flex: 1;
    img {
        height: 180px;
        width: auto;
        margin: 15px;
    }
}
.pokemon-evolution {
    margin: 10px;    
}

.button-middle {
    width: 200px;
}
.middle-arrow {
    padding-left: 95px;
}