
<button mat-raised-button color="primary" (click)="goBack()">
    Go Back
</button>

<h3>Information</h3>
<div class="pokemon-container">
    <img [src]="getImageUri()" class="" alt="pokemon">

    <div class="pokemon-div">
        <div>
            <p>Name: <b>{{pokemonDetail?.name}}</b></p>
            <p>Height: <b>{{pokemonDetail?.height}}</b></p>
            <p>Weight: <b>{{pokemonDetail?.weight}}</b></p>
        </div>
        <div class="pokemon-type">
            <div class="type-color" 
                *ngFor="let type of pokemonDetail?.types"
                [ngStyle]="{'background-color': getColorByType(type.type.name)}" >
                <p>{{type.type.name}}</p>
            </div>
        </div>
    </div>
    
    <div class="pokemon-div">
        <table>
            <tr *ngFor="let stat of pokemonDetail?.stats">
                <td>{{stat.stat.name}} ({{stat.base_stat}})</td>
                <td><mat-slider min="1" max="200" value="{{stat.base_stat}}" aria-disabled="true"></mat-slider></td>
            </tr>
        </table>
    </div>
</div>

<div>
    <h3>Evolutions</h3>
    <div>
        <div class="pokemon-evolution">
            <button class="button-middle" mat-raised-button color="accent" (click)="goToPokemonDetails(pokemonChain?.chain.species)">{{pokemonChain?.chain.species.name}}</button>
            <div>
                <img [src]="getImageUriById(pokemonChain?.chain.species.url)" alt="" >
            </div>
        </div>

        <div *ngFor="let evolve of pokemonChain?.chain.evolves_to">
            <mat-icon class="middle-arrow">arrow_downward</mat-icon>
            <div class="pokemon-evolution">
                <button class="button-middle" mat-raised-button color="accent" (click)="goToPokemonDetails(evolve.species)">
                    {{evolve.species.name}} {{evolve.evolution_details != null ? ' - level: ' + evolve.evolution_details[0].min_level : ''}}
                </button>
                <div>
                    <img [src]="getImageUriById(evolve.species.url)" alt="">
                </div>
            </div>

            <div *ngFor="let evolveIntern of evolve.evolves_to">
                <mat-icon class="middle-arrow">arrow_downward</mat-icon>
                <div class="pokemon-evolution">
                    <button  class="button-middle" mat-raised-button color="accent" (click)="goToPokemonDetails(evolveIntern.species)">
                        {{evolveIntern.species.name}} {{evolveIntern.evolution_details != null ? ' - level: ' + evolveIntern.evolution_details[0].min_level : ''}}
                    </button>
                    <div>
                        <img [src]="getImageUriById(evolveIntern.species.url)" alt="">
                    </div>  
                </div>
            </div> 

        </div>
    </div>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Enter Language:</mat-label>
        <input matInput #input placeholder="en" 
            [(ngModel)]="language" (ngModelChange)="refreshDescriptions()">
    </mat-form-field>
</div> 

<div *ngIf="!!pokemonSpecies">
    <p>Pokemon Name by Language {{getNameByLanguage(pokemonSpecies?.names)}}</p>
    <div class="game-description" *ngFor="let description of gameDescriptions">
        <img [src]="getGameImage(description.version.name)" alt="">
        <p>{{description.flavor_text}}</p>
    </div>
</div> 