@import '../../app.component.less';

.pokemon-container {
    display: flex;
    img {
        height: 250px;
        width: auto;
    }
    .pokemon-type {
        display: flex;
        .type-color {
            flex: 1;
            border-radius: 10%;
            padding: 0px 15px 0px 15px;
            margin: 0px 10px 0px 10px;
            p {
                color: white;
                text-align: center;
            }
        }
    }
    .pokemon-div {
        padding: 0px 0px 0px 100px;
    }
}

.game-description {
    display: flex;
    flex: 1;
    img {
        height: 180px;
        width: auto;
        margin: 15px;
    }
}
.pokemon-evolution {
    margin: 10px;    
}

.button-middle {
    width: 200px;
}
.middle-arrow {
    padding-left: 95px;
}