<div>
	<div>
		<div>
			<span>Search:</span>
			<input type="text" 
			[(ngModel)]="search"
			(ngModelChange)="searchPokemons()"
			/>
		</div>
		<div>
			<span>Choose a Generation:</span>
			<select [ngModel]="generationSelected" (ngModelChange)="onChange($event)">
				<option *ngFor="let generation of generations" [value]="generation.url">{{generation.name}}</option>
			</select>
		</div>
		<div>
			<span>Offset:</span>
			<input type="number" 
				[(ngModel)]="offset"
				(ngModelChange)="updatePokemonLimit()"
				/>
			<span>Limit:</span>
			<input type="number" 
				[(ngModel)]="limit"
				(ngModelChange)="updatePokemonLimit()"
				/>
		</div>
		<button *ngIf="pokemons.length" (click)="nextPokemons()">
			Next
		</button>
	</div>
	<div class="pokemons example-viewport">
		<div class="pokemon" 
		[ngStyle]="{'background-color': getPokemonColor(pokemon)}"
		*ngFor="let pokemon of pokemons"
		(click)="goToPokemonDetails(pokemon)">
			<img [src]="getImageUri(pokemon)" [alt]="pokemon.name" />
			<p [ngStyle]="{'color': getTextColor(pokemon)}">{{pokemon.name}}</p>		
		</div>
	</div>
	
	<not-found *ngIf="!pokemons.length"></not-found>	
</div>