<div class="mat-drawer-container">
	<div>
		<div class="element-header">
			<mat-form-field appearance="fill" >
				<mat-label>Search</mat-label>
				<input matInput #input placeholder="Pokemon Start with..." [(ngModel)]="search"
				(ngModelChange)="searchPokemons()">
			</mat-form-field>
			<pokemon-generation
				(refreshPokemons)="displayByGeneration($event)">
			</pokemon-generation>			
		</div>
		
		<div>
			<mat-form-field appearance="fill">
				<mat-label>Offset</mat-label>
				<input matInput #input type="number" placeholder="0" min="0"
				[(ngModel)]="offset" (ngModelChange)="updatePokemonLimit()">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Limit</mat-label>
				<input matInput #input type="number" placeholder="1" min="1"
				[(ngModel)]="limit"
				(ngModelChange)="updatePokemonLimit()">
			</mat-form-field>
			
			<button mat-raised-button color="primary" (click)="addPokemon()">
				Add Pokemon
			</button>
		</div>
	</div>
	<cdk-virtual-scroll-viewport #scroller itemSize="20" class="virtual-content">
		<div class="pokemons">
			<pokemon-card *cdkVirtualFor="let pokemon of pokemons" [pokemon]=pokemon class="example-item"></pokemon-card>
		</div>
	</cdk-virtual-scroll-viewport>
	
	<not-found *ngIf="!pokemons.length"></not-found>	
</div>