<div>
	<div>
		<div>
			<mat-form-field appearance="fill">
				<mat-label>Search</mat-label>
				<input matInput #input placeholder="Pokemon Start with..." [(ngModel)]="search"
				(ngModelChange)="searchPokemons()">
			</mat-form-field>
		</div>
		<pokemon-generation
			(refreshPokemons)="displayByGeneration($event)">
		</pokemon-generation>

		<div>
			<mat-form-field appearance="fill">
				<mat-label>Offset</mat-label>
				<input matInput #input type="number" placeholder="0" min="0"
				[(ngModel)]="offset" (ngModelChange)="updatePokemonLimit()">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Limit</mat-label>
				<input matInput #input type="number" placeholder="1" min="1"
				[(ngModel)]="limit"
				(ngModelChange)="updatePokemonLimit()">
			</mat-form-field>
		</div>
		<button mat-raised-button color="primary" *ngIf="pokemons.length" (click)="nextPokemons()">
			Next
		</button>
	</div>

	<div class="pokemons">
		<pokemon-card 
		*ngFor="let pokemon of pokemons" 
		[pokemon]=pokemon>			
		</pokemon-card>
	</div>
	
	<not-found *ngIf="!pokemons.length"></not-found>	
</div>