@import '../app.component.less';

.pokemons {
	display: flex;
	flex-wrap: wrap;	
	.pokemon {
		flex: 1;
		background-color: silver;
		margin: 10px;
		border-radius: 15px;
		text-align: center;
		p {
			font-size: 1.5em;
			text-align: center;
			color: white;
		}
	}
}

.example-viewport {
	max-height: 89vh;
	overflow: auto; 
  }

 .list {
	min-height: 50%;
 }

 .item {
	height: 100px;
 }